 <div class="container-fluid mt-5 about-style"  id="aboutid">
    <div class="row">
        <h1 class="text-center main-heading">About us</h1>
        <h1 class="text-center sub-heading">grow your business with us</h1>
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class ="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/about.svg" alt="herosection_image ">
                    </figure>
                </div>
                     {{!-- right side --}}
                <div class ="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE professional developer👍 </h1>
                    <p>We Are The Team of <span class="bold-style">Liza technical</span>,
                    ypur number one source for all things.we are dedicated to giving you the best of work.</p>
                    <button class="btn-style btn-primary ">Read more</button>
                </div>
           
                
            </div>

            </div>
    </div>
</div>