 <div class="container-fluid mt-5 contact-style"  id="contactid">
    <div class="row">
         <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">contact us</h1> 
        <h1 class="text-center sub-heading">we will bw happy to help ypu</h1>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">
<form action="/contact" method="POST">
 <div class="form-group">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="fullname" name="name"  aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Email address" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="form-label">phone</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="phonenumber" name="phone"  aria-describedby="emailHelp">
  </div>
 
  <div class="form-group">
    <label for="exampleInputPassword1" class="form-label">Message</label>
    <input type="text"  placeholder="message" name="message" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn-style btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
</div>
